.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2874f0;
    color: white;
    padding: 15px 7%;
    cursor: pointer;
}

.Navbar_left{
    display: flex;
    align-items: center;
}
.Navbar_left>p{
    font-weight: 800;
    font-size: 25px;
}
.Navbar_left_input{
    width: 450px;
    height: 30px;
    margin-left: 15px;
}

.Navbar_right{
    display: flex;
    
}

.Navbar_right>p{
    margin-left: 25px;
    font-weight: 600;
    font-size: 20px;
}